
<!DOCTYPE html>
<html>
<body>
    

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/javascripts/main.js"></script>
    
 

<br><br><br><br>


    <section class="container">

        <h1 class="text-center" style=""><b>Grovery</b></h1>
        <div class="left">


            <div id= "story" class = "ourstory">
                  <h3 class="text-center"><b>OUR STORY</b></h3>
                  <p  class= "text-center">
                      
                      Grovery was founded to tackle the gap when it came to convenient grocery delivery in Ireland
                      <br> This is a platform that caters to needs of all households.
                      <br> 
                      <i class="fas fa-male fa-2x"></i>
                      <i class="fas fa-laptop fa-2x"></i>
                      <i class="fas fa-shopping-basket fa-2x"></i>
                      <i class="fas fa-arrow-right fa-2x"></i>
                      <i class="fas fa-people-carry fa-2x"></i>
                      <i class="fas fa-door-open fa-2x"></i>
                      <br>All you need is an internet connection and a computer.
                      <br>Deliveries right to your doorstep, hassle free
                  </p>


            </div>


            <div id="partner" class = "service">
                <h3 class="text-center"><b>OUR PARTNERS</b></h3>
        <p class= "text-center">
            We have partnered with mutiple local shops to bring groceries to you
        </p>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="service-box">
                    <i class="fa fa-shopping-basket"></i>
                    <h4 class="title"><b>ALDI</b></h4>
                   
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="service-box">
                    <i class="fa fa-shopping-cart"></i>
                    <h4 class="title"><b>TESCO</b></h4>
                   
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="service-box">
                    <i class="fa fa-map-marker"></i>
                    <h4 class="title"><b>CENTRA</b></h4>
                   
                </div>
            </div>


            <div class="col-md-3 col-sm-12">
                <div class="service-box">
                    <i class="fa fa-globe"></i>
                    <h4 class="title"><b>DEALZ</b></h4>
                   
                   
                </div>
            </div>

        </div>

        </div>


        

            <div id="services"class = "service">

                <h3 class="text-center"><b>OUR SERVICES</b></h3>
        <p class= "text-center">
            We offer multiple services for households
        </p>
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="service-box">
                    <i class="fas fa-globe"></i>
                    <h4 class="title">Job Opportunities</h4><br>
                    <p class="">
                        We hire drivers all around the city for deliveries
                    </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-12">
                <div class="service-box">
                    <i class="fas fa-door-open"></i>
                    <h4 class="title">Food delivery to your home</h4><br>
                    <p class="">
                        We deliver right to your doorstep
                    </p>
                </div>
                
            </div>


            <div class="col-md-3 col-sm-12">
                <div class="service-box">
                    <i class="fas fa-map-marker"></i>
                    <h4 class="title">Geolocation</h4><br>
                    <p class="">
                        Browse the shops closest to you
                    </p>
                </div>
            </div>


            <div class="col-md-3 col-sm-12">
                <div class="service-box">
                    <i class="fas fa-book"></i>
                    <h4 class="title">Recipes</h4><br>
                    <p class="">
                        Browse our recipes for inspiration while shopping
                    </p>
                </div>
            </div>

        </div>
        </div>
        </div>

            <div class="sidebar">
                <div class="section-search">
                    <h2 class="section-title">Search</h2>
                    <form action="index.hbs" method="post">
                        <input type="text" name="search-term" class="text-input" placeholder="Search....">
                    </form>
                </div>


                <div class="section-topics">
                    <h2 class="section-title">About Us</h2>
                    <ul>
                        <li><a class="nav-link" href="#story">Our Story</a></li>
                        <li><a class="nav-link" href="#partner">Our partners</a></li>
                        <li><a class="nav-link" href="#services">Services</a></li>
                        
                    </ul>
                </div>
            </div>



        
     </section>

</body>
</html>
