<!DOCTYPE html>
<html>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/javascripts/main.js"></script>
    
    <body>
        <div class="contact-section">
            <h19>Contact Us</h19>

            <form class="contact-form" action="index.hbs" method="post">
                
                <input type="text" class="contact-form-text" placeholder="Your Name">
                <input type= "email" class="contact-form-text" placeholder="Your Email">
                <input type= "text" class="contact-form-text" placeholder="Your Phone Number">
                <textarea class="contact-form-text" placeholder="Your Message"></textarea>
                <input type="submit" class="contact-form-btn" value="Send">

            </form>
        </div>
    </body>
    </html>
