<!DOCTYPE html>
<html>
<body>

    

    <!--slick carousel-->
    

    <!--Page wrapper-->
    <div class="page-wrapper">

        <!--post slider-->
        <div class="post-slider">
            <h1 class="slider-title">Popular recipes</h1>

            <i class="fas fa-chevron-left prev"></i>
            <i class="fas fa-chevron-right next"></i>


            <div class="post-wrapper">

                <div class="post clearfix">
                    <img src="https://elavegan.com/wp-content/uploads/2020/02/noodle-soup-with-vegetables.jpg" alt="" class="slider-image">
                    <div class="post-info">
                        <h5><a href="https://elavegan.com/creamy-vegan-ramen/"> Creamy Vegan ramen </a></h5>
                        <i class="fas fa-user">Ela vegan</i>
                        <i class="fas fa-calendar">Mar12,2020</i>
                    </div>

                </div>

                <div class="post clearfix">
                    <img src="https://elavegan.com/wp-content/uploads/2020/02/veggies-in-sweet-sour-sauce-and-rice-noodles.jpg" alt="" class="slider-image">
                    <div class="post-info">
                        <h5><a href="https://elavegan.com/sticky-teriyaki-tofu/"> Vegan black bean burger </a></h5>
                        <i class="fas fa-user">Ela vegan</i>
                        <i class="fas fa-calendar">Mar12,2020</i>
                    </div>

                </div>

                <div class="post clearfix">
                    <img src="https://elavegan.com/wp-content/uploads/2020/02/creamy-vegan-peanut-butter-mousse-in-a-glass-360x361.jpg" alt="" class="slider-image">
                    <div class="post-info">
                        <h5><a href="https://elavegan.com/vegan-peanut-butter-mousse/"> Vegan peanut butter mousse </a></h5>
                        <i class="fas fa-user">Ela vegan</i>
                        <i class="fas fa-calendar">Mar12,2020</i>
                    </div>

                </div>

                <div class="post clearfix">
                    <img src="https://elavegan.com/wp-content/uploads/2020/03/three-spinach-and-ricotta-stuffed-cannelloni-with-vegan-cheese-360x361.jpg" alt="" class="slider-image">
                    <div class="post-info">
                        <h5><a href="https://elavegan.com/spinach-ricotta-cannelloni-recipe/"> Spinach & Ricotta Canelloni </a></h5>
                        <i class="fas fa-user">Ela vegan</i>
                        <i class="fas fa-calendar">Mar12,2020</i>
                    </div>

                </div>



                <div class="post clearfix">
                    <img src="https://elavegan.com/wp-content/uploads/2020/03/vegan-eggless-cheesecake-with-dragonfruit-360x361.jpg" alt="" class="slider-image">
                    <div class="post-info">
                        <h5><a href="https://elavegan.com/eggless-cheesecake/"> Eggless cheesecake</a></h5>
                        <i class="fas fa-user">Ela vegan</i>
                        <i class="fas fa-calendar">Mar12,2020</i>
                    </div>

                </div>


                <div class="post clearfix">
                    <img src="https://elavegan.com/wp-content/uploads/2020/02/healthy-choc-cups.jpg" alt="" class="slider-image">
                    <div class="post-info">
                        <h5><a href="https://elavegan.com/vegan-chocolate-muffins/"> Gluten free choc Muffins</a></h5>
                        <i class="fas fa-user">Ela vegan</i>
                        <i class="fas fa-calendar">Mar12,2020</i>
                    </div>

                </div>


                <div class="post clearfix">
                    <img src="https://elavegan.com/wp-content/uploads/2017/04/chocolate-coco-cup.jpg" alt="" class="slider-image">
                    <div class="post-info">
                        <h5><a href="https://elavegan.com/raw-coconut-cupcakes-vegan-gluten-free/">No bake coconut cups</a></h5>
                        <i class="fas fa-user">Ela vegan</i>
                        <i class="fas fa-calendar">Mar12,2020</i>
                    </div>

                </div>


                <div class="post clearfix">
                    <img src="https://elavegan.com/wp-content/uploads/2016/11/fork-stuck-in-pancake-stack.jpg" alt="" class="slider-image">
                    <div class="post-info">
                        <h5><a href="single.html"> Banana oat pancakes</a></h5>
                        <i class="fas fa-user">Ela vegan</i>
                        <i class="fas fa-calendar">Mar12,2020</i>
                    </div>

                </div>

            </div>
        </div>


        <!--Content-->
        <div class="content clearfix">

            <!--Main Content-->
            <div class="main-content">

                <h1 class="recent-post-title"><b>Recent posts</b></h1>

                <div class="post clearfix">
                    <img src="https://elavegan.com/wp-content/uploads/2019/10/pumpkin-loaf-cake-recipe-1.jpg" alt="" class="post-image">
                    <div class="post-preview">
                        <h1>
                            <a href="https://elavegan.com/category/breakfast/"><b>Breakfast : Most colorful meal of the day</b></a>
                        </h1>
                        <i class="fas fa-user">Ela vegan</i>
                        <i class="fas fa-calendar">Mar12,2020</i>
                        <p class="preview-text">
                            Start your day right with this loaf cake. Lasts the whole week.
                        </p>
                        <div class="btn">
                            <a href="https://elavegan.com/category/breakfast/" class="btn browse">Browse more</a>
                        </div>
                    </div>
                </div>



                <div class="post clearfix">
                    <img src="https://elavegan.com/wp-content/uploads/2017/05/vegan-spinach-pasta-sauce-recipe-healthy.jpg" alt="" class="post-image">
                    <div class="post-preview">
                        <h1>
                            <a href="https://elavegan.com/vegan-spinach-pasta-sauce-recipe/"><b>Easy pasta recipe </b></a>
                        </h1>
                        <i class="fas fa-user">Ela vegan</i>
                        <i class="fas fa-calendar">Mar12,2020</i>
                        <p class="preview-text">
                            Simple pasta recipe for a quick dinner
                        </p>
                        <div class="btn">
                            <a href="https://elavegan.com/category/breakfast/" class="btn browse">Browse more</a>
                        </div>
                    </div>
                </div>



                <div class="post clearfix">
                    <img src="https://elavegan.com/wp-content/uploads/2020/03/spanish-rice-and-red-beans-in-a-bowl-360x361.jpg" alt="" class="post-image">
                    <div class="post-preview">
                        <h1>
                            <a href="https://elavegan.com/spanish-rice-and-beans/"><b>Beans and rice</b></a>
                        </h1>
                        <i class="fas fa-user">Ela vegan</i>
                        <i class="fas fa-calendar">Mar12,2020</i>
                        <p class="preview-text">
                            Simple filling lunch option.
                        </p>
                        <div class="btn">
                            <a href="https://elavegan.com/category/breakfast/" class="btn browse">Browse more</a>
                        </div>
                    </div>
                </div>



                <div class="post clearfix">
                    <img src="https://elavegan.com/wp-content/uploads/2019/11/gluten-free-vegan-peanut-butter-cookies-dipped-in-chocolate.jpg" alt="" class="post-image">
                    <div class="post-preview">
                        <h1>
                            <a href="https://elavegan.com/vegan-peanut-butter-cookies/"><b>Snack on some no bake cookies</b></a>
                        </h1>
                        <i class="fas fa-user">Ela vegan</i>
                        <i class="fas fa-calendar">Mar12,2020</i>
                        <p class="preview-text">
                            Three-ingredient cookies.
                        </p>
                        <div class="btn">
                            <a href="https://elavegan.com/category/breakfast/" class="btn browse">Browse more</a>
                        </div>
                    </div>
                </div>



                <div class="post clearfix">
                    <img src="https://elavegan.com/wp-content/uploads/2019/12/one-piece-of-vegan-cake-with-apples.jpg" alt="" class="post-image">
                    <div class="post-preview">
                        <h1>
                            <a href="https://elavegan.com/vegan-caramel-apple-cheesecake/"><b>Delicious apple cake</b></a>
                        </h1>
                        <i class="fas fa-user">Ela vegan</i>
                        <i class="fas fa-calendar">Mar12,2020</i>
                        <p class="preview-text">
                            Perfect balance of fruit and cake
                        </p>
                        <div class="btn">
                            <a href="https://elavegan.com/category/breakfast/" class="btn browse">Browse more</a>
                        </div>
                    </div>
                </div>


            </div>
            <!--///////Main Content-->


            <div class="sidebar">
                <div class="section-search">
                    <h2 class="section-title">Search</h2>
                    <form action="index.hbs" method="post">
                        <input type="text" name="search-term" class="text-input" placeholder="Search....">
                    </form>
                </div>


                <div class="section-topics">
                    <h2 class="section-title">Topics</h2>
                    <ul>
                        <li><a href="https://elavegan.com/category/breakfast/">Breakfast</a></li>
                        <li><a href="https://elavegan.com/category/buddha-bowls-salads/">Salads</a></li>
                        <li><a href="https://elavegan.com/category/snack/">Snacks</a></li>
                        <li><a href="https://elavegan.com/category/desserts/">Desserts</a></li>
                        <li><a href="https://elavegan.com/category/main-dishes/">Main dishes</a></li>
                        <li><a href="https://www.jamieoliver.com/recipes/category/special-diets/vegetarian/">Vegeterian</a></li>
                        <li><a href="https://www.yummly.com/recipes?q=meat%20lovers%20healthy&gs=ac1986/">Meat lovers</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <!--///////-Content-->


    </div>
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>


    <!--slick carousel-->

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!--jquesry cdn-->
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--slick slider js-->
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
</body>




</html>
