<div class ="footer" id="footer">
    <div class="inner-footer">
        <div class="footer-items">
            <h12>Quick Links</h12>
            <div class="borders"></div>
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/about">
                    <li>About Us </li>
                </a>
                <a href="/recipe">
                    <li>Recipes </li>
                </a>
            </ul>
        </div>


        <div class="footer-items">
            <h13>Shop Now</h13>
            <div class="borders"></div>
            <ul>
                <a href="/shop/index">
                    <li>Pantry</li>
                </a>
                <a href="/shop/index">
                    <li>Freezer </li>
                </a>
                <a href="/shop/index">
                    <li>Bakery </li>
                </a>
            </ul>
        </div>

        <div class="footer-items">
            <h14>Contact Us</h14>
            <div class="borders"></div>
            <ul>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>25, Upper Newcastle, Galway</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>0754786546</li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i>grovery@gmail.com</li>
            </ul>
            <div class="social-media">
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>

            </div>
        </div>

        <div class="footer-items">


            <h15>Get in touch</h15>

            <div class="contact" id="contacts">

                <input type="text" placeholder="Email" />
                <input type="text" id="msgs" placeholder="Message" />


                <button type="button" type="submit"> Let's Chat</button>

            </div>

            <div class="sign">
                <div align="right">
                    <a href="/user/signup">Sign Up</a>
                </div>
            </div>





        </div>


    </div>

    <div class="footer-bottom" style="color:#000 !important">
        Copyright &copy; Grovery 2020. All rights reserved

    </div>




</div>

