<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
<a href="/" class="navbar-brand"><img src="/images/GroveryLogo.png" height="45" width="40" class="d-align-inline-block"></a>
  <a class="nav-link" href="#map"> <i class="fas fa-map" aria-hidden="true"></i> </a></h1>
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/shopping-cart/">
            <i class="fas fa-shopping-cart" aria-hidden="true"></i> Shopping Cart
            <span class="badge badge-pill badge-secondary">{{session.cart.totalQty}}</span>
        </a>

      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fas fa-user"></i> About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="/about">About Us</a>
           <a class="dropdown-item" href="/contact">Contact
           </a>

        </div>
        </li>


       <li class="nav-item">
        <a class="nav-link" href="/recipe">
            <i class="fas fa-book" aria-hidden="true"></i> Recipe
        </a>

      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fas fa-user"></i> User Management
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{# if login }}
              <a class="dropdown-item" href="/user/profile">User Account</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/user/logout">Logout</a>
          {{ else }}
              <a class="dropdown-item" href="/user/signup">Sign up</a>
              <a class="dropdown-item" href="/user/signin">Sign in</a>
          {{/if}}
        </div>
      </li>
    </ul>
  </div>
</nav>
